<h3><%= image_tag asset_path("admin/sidebar-actualities.png"), :alt => t('actuality.actualities') %><%= t('actuality.actualities') %></h3>
<ul>
  <li><%= link_to_unless_current I18n.t('actuality.actualities_count', :count => EtabliocmsActualities::Actuality.count), admin_actualities_path %></li>
  <li><%= link_to_unless_current t('actuality.add'), new_admin_actuality_path %></li>
  <li><%= link_to_unless_current I18n.t('category.categories_count', :count => EtabliocmsActualities::Category.count), admin_categories_path %></li>
  <li><%= link_to_unless_current t('category.add'), new_admin_category_path %></li>
</ul>

